.content{
    margin: 40px;
    .highlight{
        background-image: linear-gradient(rgb(81, 81, 81),black,rgb(81, 81, 81));
        background-color:rgb(0, 0, 0) ;
        color: azure;
        border-radius: 15px;
        width: 300px;
        // margin: auto;
        

    }
    .line-content{
        // margin-bottom: 10px;
        background-color: rgb(255, 248, 245);
        padding:40px;
        border-radius: 15px;
        
    }


}

