/* src/components/ForgotPassword.scss */
.forgot-password {
    text-align: center;
  
    h2 {
      font-size: 24px;
    }
  
    p {
      font-size: 16px;
    }
  
    form {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
  
      label {
        font-size: 18px;
      }
  
      input {
        padding: 10px;
        margin: 5px 0;
        font-size: 16px;
        border: 1px solid black;
      }
  
      button {
        background-color: #007bff;
        color: white;
        padding: 10px;
        font-size: 18px;
        border: none;
        cursor: pointer;
      }
    }
  
    p.confirmation-message {
      margin-top: 20px;
      font-size: 18px;
    }
  }
  